html {
  scroll-behavior: smooth;
}

.hero-content {
 display: none; 
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

header {
  height: 100vh;
}

.hero-content {
  width: 50%;
  text-align: center;
  color: white;
}

p {
  font-weight: 200;
  font-size: 18px;
  line-height: 30px;
}

a {
  margin-top: 0;
  margin-right:10px;
  margin-bottom: 10px;
  padding: 10px;
  text-decoration: none;
  color: white;
  display: inline-block;
  border: dotted;
  border-color: white;
}

nav {
  width: 100%;
  text-align: center;
  padding: 20px;
  position: fixed;
  top: 0;
  background-color:  rgb(0, 0, 0, 0.3);
  z-index: 10;
}

span .font-pair1a{
  font-family: 'Roboto', sans-serif;
}

span .font-pair1b{
  font-family: 'Cabin', sans-serif;
}


/* add your css below this line */

.hero-background {
  background: url("https://images.pexels.com/photos/2719301/pexels-photo-2719301.jpeg?cs=srgb&dl=pexels-jv-buenconcejo-2719301.jpg&fm=jpg") no-repeat fixed center;
  background-size: cover;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-section-background {
  background: url("https://images.pexels.com/photos/6331088/pexels-photo-6331088.jpeg?cs=srgb&dl=pexels-anete-lusina-6331088.jpg&fm=jpg") no-repeat fixed bottom;
}

.second-section-background {
  background: url("https://images.pexels.com/photos/4656945/pexels-photo-4656945.jpeg?cs=srgb&dl=pexels-nate-hovee-4656945.jpg&fm=jpg") no-repeat fixed bottom;
}

.third-section-background {
  background: url("https://images.pexels.com/photos/1389429/pexels-photo-1389429.jpeg?cs=srgb&dl=pexels-elviss-railijs-bit%C4%81ns-1389429.jpg&fm=jpg") no-repeat fixed bottom;
}

.with-background {
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 50px 0;
}

h1 {
  font-size: 60px;
  line-height: 65px;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 35px;
  font-weight: 200;
  line-height: 40px;
}

h3 {
  font-size: 55px;
  font-weight: 200;
  line-height: 60px;
  margin: 0;
}

.number {
  width: 50px;
  height: 50px;
  background-color: white;
  position: absolute;
  color: black;
  text-align: center;
  top: -25px;
  right: -25px;
  font-weight: 30px;
  line-height: 50px;
}

article {
  max-width: 50%;
  margin: 20px auto;
  padding: 50px;
}

.first-article-container, .second-article-container, .third-article-container  {
  position: relative;
}

.first-article-container {
  background-color: #66ccff;
}

.second-article-container {
  background-color: #ff9933;
}

.third-article-container {
  background-color: #ff6666;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: black;
}

div p{
  color: #66ccff;
}
